<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Test suite" parallel="methods">
    <test name="Study Test">
    </test>
    <test name="CartTests"></test>
    <test name="1">
        <classes>
            <class name="tests.MoodPandaTest"/>
        </classes>
    </test> <!-- Test -->
</suite>

